#scroll {
    height: 400vh; 
    overflow-y: scroll;
    background-image: url("images/aABOUTMEEE.png");
    background-size: cover;
  }

   
  .overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 140%) scale(0.8);
 transition: transform 0.3s ease;
 }
    
.overlay-image:hover {
           
    transform: translate(-50%, 140%) scale(1.0);
     }

 

     .overlay-image{
    top: -75%;
    left: 50%;

   }

   .gif {
    position: absolute;
    top: 250%;
    left: 20%;
    scale: .7
  }
  
  #clockw3 {
    font-family: 'Press Start 2P', cursive;
    color: white;
    position: absolute;
    top: 390%;
    left: 5%;
    scale: 1.5

  }
  
  